/* ELEMENTS */

.section-full {
    height: calc(100vh - 100px);
}

section:not(.section-full) {
    padding: 75px 0;
}

.section-dark {
    background-color: var(--main-dark);
}

.section-light {
    background-color: var(--main-light);
}

.section-dark:not(.section-side-left) p,
.section-light:not(.section-side-left) p,
.section-dark:not(.section-side-left) h1,
.section-light:not(.section-side-left) h1,
.section-dark:not(.section-side-left) h2,
.section-light:not(.section-side-left) h2,
.section-dark:not(.section-side-left) a,
.section-light:not(.section-side-left) a {
    color: white;
}

.section-side-left {
    background: linear-gradient(90deg, var(--main) 25%, white 25%, white 75%)
}

.section-side-left.section-dark {
    background: linear-gradient(90deg, var(--main-dark) 25%, white 25%, white 75%)
}

.title-left {
    text-align: left;
}

.section-name {
    font-size: 16px;
    color: gray;
    font-weight: 300;
}

.section-description {
    font-size: 36px;
    margin-top: 0;
}

section p {
    font-style: 14px;
    font-weight: 300;
    line-height: 1.5;
}

.section-title {
    position: relative;
    margin-bottom: 40px;
    padding-bottom: 20px;
}

.title-center {
    text-align: center;
}

.section-title::after {
    content: '';
    background-color: #F07F84;
    height: 1px;
    width: 100px;
    position: absolute;
    bottom: 0;
}

.title-center.section-title::after {
    left: 50%;
    transform: translateX(-50%);
}

.button {
    padding: 20px 40px;
    background: none;
    border: none;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-acsent {
    background-color: var(--acsent);
    border: 1px solid var(--acsent);
}

.button-acsent:hover {
    background-color: white;
    color: black;
}

.button-light {
    background-color: var(--main-light);
}

.button-light:hover {
    background-color: var(--main);
}

.button-ghost {
    border: 1px solid white;
}

.button-ghost:hover {
    background-color: white;
    color: black;
}

.image-bordered img {
    border: 10px solid white;
    box-shadow: 0px 0px 100px rgba(30, 30, 31, 0.15);
}

.filter-item {
    font-size: 16px;
    border: none;
    color: black;
    padding: 10px 0;
    margin: 5px 15px;
}

.filter-item.active {
    border-bottom: 1px solid gray;
    color: gray;
}

.filter-item.hover {
    color: gray;
}

/* SECTIONS */

/* HEADER */

.header {
    height: 100px;
    overflow: hidden;
    position: sticky;
}

.header-brand {
    width: 255px;
    height: 100px;
}

.header-nav-item {
    padding: 30px 15px;
    font-size: 14px;
    font-weight: 300;
    color: gray;
    text-transform: uppercase;
    text-decoration: none;
}

.header-nav-item:hover {
    text-decoration: underline;
}

.header-controls {
    text-align: end;
}

/* BANNER */

#banner .banner-slogan,
#banner .banner-title,
#banner .banner-subtitle {
    text-align: center;
}

.banner-title {
    font-size: 60px;
    font-weight: 300;
    text-transform: uppercase;
}

.banner-subtitle {
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
}

.banner-slogan {
    font-size: 18px;
}

.banner-controls {
    margin-top: 70px;
}

.banner-controls button {
    margin: 0 10px
}

/* ABOUT */

.about-image {
    width: 950px;
}

.about-image img {
    min-height: 523px;
    object-fit: cover;
}

.progress-description {
    text-align: center;
}

.progress-step {
    position: relative;
}

.progress-step::after,
.progress-step::before {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.progress-step::before {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 36px;
    height: 6px;
    background-image: url(/wave.png);
}

.progress-step::after {
    content: '';
    position: absolute;
    top: 30%;
    right: -30%;
    transform: translateY(-50%);
    width: 20px;
    height: 40px;
    background-image: url(/arrow-right.png);
}

.progress-step:last-child::after {
    display: none;
}

/* PUBLICATIONS */

.publications-container {
    display: grid;
    height: 100%;
    grid-template-columns: 370px 370px 370px;
    grid-template-rows: 670px 670px;
    grid-gap: 30px 30px;
    grid-template-areas: "1 2 3" "4 5 6";
}

.publication-item {
    background-size: cover;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.publication-item-1 {
    display: grid;
    grid-area: 1;
    grid-template-columns: 1fr;
    grid-template-rows: 320px 320px;
    grid-gap: 30px 1px;
    grid-template-areas: "." ".";
}

.publication-item-2 {
    display: grid;
    grid-area: 2;
    grid-template-columns: 1fr;
    grid-template-rows: 320px 320px;
    grid-gap: 30px 1px;
    grid-template-areas: "." ".";
}

.publication-item-5 {
    display: grid;
    grid-area: 5;
    grid-template-columns: 1fr;
    grid-template-rows: 320px 320px;
    grid-gap: 30px 1px;
    grid-template-areas: "." ".";
}

.publication-item-6 {
    display: grid;
    grid-area: 6;
    grid-template-columns: 1fr;
    grid-template-rows: 320px 320px;
    grid-gap: 30px 1px;
    grid-template-areas: "." ".";
}

.publication-item-4 {
    grid-area: 4;
}

.publication-item-3 {
    grid-area: 3;
}

.publication-item .publication-content {
    height: 175px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px 50px;
}

.publication-excerpt {
    color: white;
    font-size: 14px;
    line-height: 1.8;
    font-weight: 300;
}

.publication-link {
    color: white;
    text-decoration: none;
}

.publication-link:hover {
    border-bottom: 1px solid white;
}