@import 'bootstrap-grid.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

:root {
    --main: #3382C5;
    --main-dark: #213C6C;
    --main-light: #45AAFF;
    --acsent: #F35653;
    --acsent-light: #F8F8F8;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
}

img {
    width: 100%;
    height: auto;
    user-select: none;
}

iframe {
    user-select: none;
}

form input,
form textarea {
    outline: none;
}

button {
    cursor: pointer;
}

textarea {
    resize: vertical;
}

.container-fluid {
    padding-left: 5%;
    padding-right: 5%;
}

.container-fluid>.row {
    margin-left: 0;
    margin-right: 0;
}

/* VENDOR */

.slick-dots li.slick-active button:before {
    background-color: #5CAFE2;
}

.slick-dots li button:before {
    content: '';
    background-color: gray;
    border-radius: 50%;
}

.slick-dots {
    bottom: -50px;
}